body{
    margin: 0px;
    padding: 0px;
    background-color: #140e78;
}

@media (min-width: 300px) {
  
    .Header {
        height: 80px;
        width: 100%;
        background-color: red;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .HeaderPhoto {
            img { 
                width: 105px;
            }
        }
    
        h1 {
            font-size: 40px;
            color: white;
        }
    
        .HeaderMenu {
            button {
                width: 82px;
                height: 80px;
                background-color: #140e78;
            }
        }
    }
    
    .Your-level {
        background-color: #140e78;
        padding: 50px;
        color: white;
    
        h1 {
            justify-content: center;
            display: flex;
            font-size: 50px;
        }
    
        .level-card {
            margin: 10px;
            border: 2px solid silver;
            background-color: red;
            border-radius: 10px;
            height: 60px;
            width: 93%;
            color: white; // змінив колір з білого на чорний
            font-size: 40px;
        }
    
        .booksList {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }
    
        .books {
            display: flex;
            flex-wrap: wrap;
            margin-top: 30px;
            background-color: silver;
        }
    
        .book {
            margin: 20px;
            background-color: black;
            color: white;
            width: 300px;
            font-size: 30px;
        }
    
        .book img {
            width: 300px;
        }
    
        .book a {
            color: white;
        }
    
        .book p {
            margin: 0;
        }
    }

    .booksList{
        display: flex;
        justify-content: center;
        background-color: silver;
    }
    
    .Box {
        display: flex;
        justify-content: center;
    }

    .book{
        width: 250px;
        margin: 15px;
        img{
            width: 100%;
        }
    }
    
    .BoxD {
        padding: 30px;
    }
    
    .photo {
        display: flex;
        justify-content: center;
    }
    
    .NameBook {
        display: flex;
        justify-content: center;
    
        button {
            width: 200px;
            height: 50px;
            color: black;
            font-size: 20px;
            background-color: #140e78;
            display: flex;
            justify-content: center;
            align-items: center;
    
            img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
        }
    }
    .authorBox {
        display: flex;
        align-items: center;
    
        img {
            width: 50px;
            height: 50px;
        }
    }
    
}


@media (min-width: 615px) {
    .Header{
    height: 80px;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    .HeaderPhoto{
        img{ 
            width: 100px;
        }
    }

    h1{
        font-size: 59px;
        color: white;
    }

    .HeaderMenu{
        button{
            width: 100px;
            height: 80px;
            background-color: #140e78;
            
        }
    }
    }

    .Your-level{
    background-color: #140e78;
    padding: 50px;
    color: white;
    
    
    h1{
        justify-content: center;
        display: flex;
        font-size: 50px;
        
    }
    .level-card{
        margin: 10px;
        border: 2px solid  silver;
        background-color: red;
        border-radius: 10px;
        height: 100px;
        width: 31%;
        color: white;
        font-size: 40px;
    }
    .levels{
        display: flex;
        justify-content: center;
    }
    }
    .booksList{
    margin-top: 20px;
    display: flex;
    justify-content: center;


   
    }
    #books {
        margin: 0px;
        display: ruby;
        background-color: silver;
        max-width: 76%;
        
    .book{
        margin: 20px;
        color: white;
        width: 250px;
        font-size: 30px;
        
        img{
            width: 250px;
        }
        a{
           color: white;

        }
        p{
            margin: 0%;
            display: flex;
            justify-content: center;
        }
    }
    }
    .Box{
        display: flex;
        justify-content: center;
    }
    .BoxD{
        display: flex;
        max-width: 76%;
        padding: 30px;
        background-color: #140e78;

        .photo{
            display: block;
        }
        
    }
    .NameBook{
        display: block;
        button{
        width: 200px;
        height: 50px;
        color: white;
        font-size: 20px;
        background-color: #140e78;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

    }
    }
    .Description{
        margin-left: 30px;
    }
    .authorBox{
        display: flex;
        align-items: center;

        img{
            width: 50px;
            height: 50px;
        }

    }
}