body {
  margin: 0px;
  padding: 0px;
  background-color: #140e78;
}

@media (min-width: 300px) {
  .Header {
    height: 80px;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Header .HeaderPhoto img {
    width: 105px;
  }
  .Header h1 {
    font-size: 40px;
    color: white;
  }
  .Header .HeaderMenu button {
    width: 82px;
    height: 80px;
    background-color: #140e78;
  }
  .Your-level {
    background-color: #140e78;
    padding: 50px;
    color: white;
  }
  .Your-level h1 {
    justify-content: center;
    display: flex;
    font-size: 50px;
  }
  .Your-level .level-card {
    margin: 10px;
    border: 2px solid silver;
    background-color: darkblue;
    border-radius: 10px;
    height: 100px;
    width: 100%;
    color: white;
    font-size: 40px;
  }
  .booksList {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .books {
    display: ruby;
    margin-top: 30px;
    background-color: silver;
  }
  .books .book {
    margin: 20px;
    background-color: black;
    color: white;
    width: 300px;
    font-size: 30px;
  }
  .books .book img {
    width: 300px;
  }
  .books .book a {
    color: white;
  }
  .books .book p {
    margin: 0%;
  }
  .Box {
    display: flex;
    justify-content: center;
  }
  .BoxD {
    display: flex;
    max-width: 76%;
    padding: 30px;
    background-color: #140e78;
  }
  .NameBook button {
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    background-color: #140e78;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .NameBook button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .Description {
    margin-left: 30px;
  }
  .authorBox {
    display: flex;
    align-items: center;
  }
  .authorBox img {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 615px) {
  .Header {
    height: 80px;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Header .HeaderPhoto img {
    width: 100px;
  }
  .Header h1 {
    font-size: 59px;
    color: white;
  }
  .Header .HeaderMenu button {
    width: 100px;
    height: 80px;
    background-color: #140e78;
  }
  .Your-level {
    background-color: #140e78;
    padding: 50px;
    color: white;
  }
  .Your-level h1 {
    justify-content: center;
    display: flex;
    font-size: 50px;
  }
  .Your-level .level-card {
    margin: 10px;
    border: 2px solid silver;
    background-color: darkblue;
    border-radius: 10px;
    height: 100px;
    width: 31%;
    color: white;
    font-size: 40px;
  }
  .Your-level .levels {
    display: flex;
    justify-content: center;
  }
  .booksList {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .books {
    margin: 0px;
    display: ruby;
    background-color: silver;
    max-width: 76%;
  }
  .books .book {
    margin: 20px;
    color: white;
    width: 250px;
    font-size: 30px;
  }
  .books .book img {
    width: 250px;
  }
  .books .book a {
    color: white;
  }
  .books .book p {
    margin: 0%;
    display: flex;
    justify-content: center;
  }
  .Box {
    display: flex;
    justify-content: center;
  }
  .BoxD {
    display: flex;
    max-width: 76%;
    padding: 30px;
    background-color: #140e78;
  }
  .NameBook button {
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    background-color: #140e78;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .NameBook button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .Description {
    margin-left: 30px;
  }
  .authorBox {
    display: flex;
    align-items: center;
  }
  .authorBox img {
    width: 50px;
    height: 50px;
  }
}

/*# sourceMappingURL=EnglishSite.css.map */
